@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300,200,100);

.App-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #2a434a;
  padding: 1%;
  color: #c7d1d8;
}
.name{
  margin: 0px;
  padding: 0px;
  margin-left: 1%;
  font-family: "Times New Roman", Georgia, Serif;
  font-style: italic;
}
.openbtn{
  margin-top: 0.5%;
  font-size: 25px;
  color: #c7d1d8;
}
.slideHeader {
  width: 100%;
  height: 60px;
  margin-top: -60px;
  background-color: #2a434a;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sideimage{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 2px;
  margin-left: 110px;
}
.closebtn {
  color: #c7d1d8;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-top: -85px;
  margin-left: 270px;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -320px;
    background-color: #111;
    overflow: hidden;
    transition: 300ms;
    padding-top: 60px;
    box-shadow: rgba(0,0,0,0.14)5px -2px 2px 0px,rgba(0,0,0,0.12)5px -2px 5px 0px,rgba(0,0,0,0.2)5px -2px 1px -2px;
}
.links {
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 560px;
    padding-top: 15px;
}
.links a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  height: 50px;
  padding-top: 15px;
}
.space {
    width: 0px;
    padding-top: 2px;
    color: lightgrey;
    padding-left: 15px;
}
.align {
    display: flex;
}
.align p{
  margin-left: 45px;
}
.backdrop {
  z-index: 2;
  background-color: #000;
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
}
#root:target .backdrop {
    display: block;
    opacity: 0.6;
}
#root:target .sidenav {
    left: 0px;
    transition: all 300ms ease;
}
.github{
  margin-left: 65%;
}
.fa-github{
  font-size: 40px;
  color: white;
}
.linked{
  margin-left: 2%;
}
.fa-linkedin{
  font-size: 40px;
  color: #0077B5;
}


.navbar{
  display: flex;
  background-color: #2a434a;
  min-height: 20px;
  padding-bottom: 10px; 
  color: white;
  border-bottom: 2px solid white;
}
.list{
  margin: 0px;
  padding-left: 15px;
  list-style: none;
}
.ignore{
  float: left;
  height: 20px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.dontignore{
  float: left;
  border-left: solid 2px white;
  height: 20px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 7px;
}
.nodec{
  text-decoration: none;
  color: white;
}


.content{
  height: 580px;
  background-image: url("/images/background.jpg");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  opacity: 0.8;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -580px;
}
.myimage{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: 2px solid #571F1F;
  padding: 5px;
}
.hi{
  font-family: 'Roboto', sans-serif;
  color: #571F1F;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.hi2{
  font-family: 'Roboto', sans-serif;
  color: #571F1F;
  font-size: 20px;
  font-weight: 500;
}
.desc{
  border-radius: 2px;
  width: 70%;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(250, 250, 250, 0.87);
  margin-top: -560px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.desc p{
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.abthead{
  border-radius: 2px;
  height: 25%;
  width: 100%;
  background-image: url("/images/abthead.jpg");
  background-position-y: 70%;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.sklhead{
  border-radius: 2px;
  height: 25%;
  width: 100%;
  background-image: url("/images/sklhead.jpg");
  background-position-y: 75%;
  background-size: 100%; 
  background-repeat: no-repeat;
  opacity: 0.8;
}
.text{
  margin-top: -45px;
  position: absolute;
  margin-left: 2%;
  padding: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.contact{
  text-align: center;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -550px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.contact h1{
  font-weight: 200;
  font-size: 60px;
  color: #571F1F;
}
.first{
  margin-top: 80px;
  color: #571F1F;
  font-size: 30px;
  font-weight: 300;
}
.sec{
  font-size: 23px;
  color: #571F1F;
  font-weight: 300;
}
.fa-envelope{
  color: #571F1F;
  font-size: 25px;
  margin-right: 20px;
}
.fa-phone{
  color: #571F1F;
  font-size: 25px;
  margin-right: 20px;
}
.contact h2{
  font-size: 20px;
  font-weight: 300;
  color: #571F1F;
}