@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300,200,100);

.App-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #2a434a;
  padding: 1%;
  color: #c7d1d8;
}
.myname{
  padding: 0px;
  text-decoration: none;
  color: #c7d1d8;
  margin-left: 1%;
  width: 28%;
}
.name{
  margin: 0px;
  padding: 0px;
  margin-left: 1%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.name:hover{
  color: grey;
}
.openbtn{
  margin-top: 0.5%;
  font-size: 25px;
  color: #c7d1d8;
}
.openbtn:hover{
  color: grey;
}
.slideHeader {
  width: 100%;
  height: 56px;
  margin-top: -60px;
  background-image: url("/images/Background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sideimage{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 1px solid white;
  padding: 2px;
  margin-left: 110px;
}
.closebtn {
  color: #c7d1d8;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-top: -85px;
  margin-left: 270px;
}
.closebtn:hover{
  color: grey;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -320px;
    background-color: #111;
    overflow: hidden;
    transition: 300ms;
    padding-top: 60px;
    box-shadow: rgba(0,0,0,0.14)5px -2px 2px 0px,rgba(0,0,0,0.12)5px -2px 5px 0px,rgba(0,0,0,0.2)5px -2px 1px -2px;
}
.links {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 580px;
}
.links h1{
  color: grey;
  margin-left: 34%;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.links hr{
  color: grey;
  width: 100%;
  margin-top: 3px;
}
.links a{
  text-decoration: none;
  color: grey;
  font-size: 15px;
  margin-left: 10%;
}
.links a h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.links a :hover{
  color: #045555;
  font-weight: 700;
}
.icons{
  margin-right: 10px;
  font-size: 25px;
}
.icons2{
  margin-right: 10px;
  font-size: 20px;
}
.backdrop {
  z-index: 2;
  background-color: #000;
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
}
#root:target .backdrop {
    display: block;
    opacity: 0.6;
}
#root:target .sidenav {
    left: 0px;
    transition: all 300ms ease;
}
.flip{
  margin-left: 55%;
}
.githead{
  font-size: 40px;
  color: white;
}
.flip2{
  margin-left: 2%;
}
.angelhead{
  font-size: 40px;
  color: white;
}
.linkhead{
  font-size: 40px;
  color: #0077B5;
}


.navbar{
  display: flex;
  background-color: #2a434a;
  min-height: 20px;
  padding-bottom: 10px; 
  color: white;
  border-bottom: 2px solid white;
}
.list{
  margin: 0px;
  padding-left: 15px;
  list-style: none;
}
.ignore{
  float: left;
  height: 20px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.dontignore{
  float: left;
  border-left: solid 2px white;
  height: 20px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-left: 7px;
}
.nodec{
  text-decoration: none;
  color: white;
}
.nodec:hover{
  color: grey;
  font-weight: 700;
}


.content{
  height: 580px;
  background-image: url("/images/Background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -580px;
}
.myimage{
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: 2px solid white;
  padding: 5px;
}
.hi{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.hi2{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
}

.desc{
  border-radius: 2px;
  width: 70%;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  color: white;
  margin-top: -570px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.desc p{
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.desc h3{
  margin-left: 20px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: white;
}
.desc h2{
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.desc a{
  text-decoration: none;
  color: grey;
}
.abthead{
  border-radius: 2px;
  border-bottom: 2px solid white;
  height: 25%;
  width: 100%;
  background-image: url("/images/abthead.jpg");
  background-position-y: 70%;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.sklhead{
  border-radius: 2px;
  border-bottom: 2px solid white;
  height: 25%;
  width: 100%;
  background-image: url("/images/sklhead.jpg");
  background-position-y: 75%;
  background-size: 100%; 
  background-repeat: no-repeat;
  opacity: 0.8;
}
.text{
  margin-top: -45px;
  position: absolute;
  margin-left: 2%;
  padding: 0px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.port1{
  border-radius: 2px;
  width: 70%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  color: white;
  margin-top: -570px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.port1head{
  height: 40%;
  width: 100%;
  border-bottom: 2px solid white;
  background-image: url("/images/port1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.title{
  position: absolute;
  margin-top: -45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 2%;
  padding: 0px;
  font-size: 30px;
}
.subdesc{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 2%;
  font-size: 18px;
}
.weblink{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 2%;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.port2{
  border-radius: 2px;
  width: 70%;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  color: white;
  margin-top: 15px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.port2head{
  height: 40%;
  width: 100%;
  border-bottom: 2px solid white;
  background-image: url("/images/port2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.contact{
  text-align: center;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -570px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.contact h1{
  font-weight: 200;
  font-size: 60px;
  color: white;
}
.contact a{
  text-decoration: none;
}
.first{
  margin-top: 90px;
  color: white;
  font-size: 30px;
  font-weight: 300;
}
.sec{
  font-size: 23px;
  color: white;
  font-weight: 300;
}
.mail{
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
.phone{
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
.contact h2{
  font-size: 22px;
  font-weight: 300;
  color: white;
}
.fbicons{
  display: flex;
  margin-left: 37%;
}
.cicon{
  font-size: 30px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 100%;
  border: 2px solid white;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}